{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}

<div class="container">
  <div class="row pt-5 m-auto">
    {% if projects%}
    {% for item in projects %}
    <div class="col-md-6 col-lg-4 pb-3">
      <div class="card card-custom bg-white border-white border-0">
        <div>
          <img src="{{item.img.cdn_url}}" alt="" class="img-fluid">
        </div>
        {% if item.profile.profile.profile_pic %}
        <div class="card-custom-avatar">
          <a href="{%url 'profile' item.profile.username%}">
            <img class="img-fluid" src="{{item.profile.profile.profile_pic.cdn_url}}" alt="Avatar"
              style="border: solid #eaf1efdc 3.5px;">
          </a>

        </div>
        {% else %}
        <div class="card-custom-avatar">
          <img class="img-fluid" src="{%static 'images/icon8.png'%}" alt="Avatar"
            style="border: solid #eaf1efdc 3.5px;">
        </div>
        {% endif %}

<script></script>

        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title"><strong>{{item.title}}</strong></h4>
          <p class="card-text"><strong>About: </strong> <span
              style="font-family: 'Arsenal', sans-serif;">{{item.description}}</span></p>
        </div>
        <div class="card-footer" style="background: inherit; border-color: inherit; border: none;">
          <a href="#" class="btn btn-dark rounded rounded-pill btn-block">Review</a>
          <a href="{{item.live_site}}" class="btn btn-outline-dark rounded rounded-pill btn-block">Go To Site</a>
        </div>


      </div>

    </div>
    {% endfor %}

  </div>
  {% else %}
  <div class="row">
    <h2 class="text-center" style="color: #808383;">There are No Projects yet.</h2>
  </div>
  {% endif %}
</div>
{% endblock %}
